<header (filesToUploadSelected)="uploadFiles($event)" (startSlideshow)="startSlideshow()" (searchQueryUpdate)="runSearch($event)" ></header>

<div class="tiles">
  <div class="tile" [ngStyle]="{'background-image': genTileBackgroundImage()}">
    Albums
  </div>
  <div class="tile" [ngStyle]="{'background-image': genTileBackgroundImage()}" >
    Tags
  </div>
  <div class="tile" [ngStyle]="{'background-image': genTileBackgroundImage()}" >
    Locations
  </div>
</div>

<div class="gallery">
  <div class="gallery-block">
    <!--<div class="block-label">Just now</div>-->
    <photo *ngFor="let photo of photosToDisplay" class="photo" [photo]="photo" (openImageModal)="openPhotoModal(photo)" ></photo>
  </div>
</div>

<div *ngIf="photoDragInProgress" class="drop-prompt">
  Drop your photos here to upload...
</div>

<photo-modal *ngIf="showingPhotoModal" [photo]="selectedPhoto" (closeModal)="showingPhotoModal = false"></photo-modal>
<slideshow *ngIf="showingSlideshow" [photo]="photos[slideshowPhotoIndex]" (closeModal)="stopSlideshow()"></slideshow>
