<div class="header">
  <!--suppress HtmlFormInputWithoutLabel -->
  <input class="search" placeholder="Search anything..." />
  <div class="notif slide-from-top">
    Uploading 732 photos...
  </div>
  <div class="right-nav">
    <button>Upload</button>
    <button>Create album</button>
    <div class="upload-progress-bar">
      <div class="upload-progress" style="width: 70%"></div>
    </div>
    <button>Settings</button>
  </div>
</div>

<div class="tiles">
  <div class="tile">
    Albums
  </div>
  <div class="tile">
    Tags
  </div>
  <div class="tile">
    Locations
  </div>
</div>

<div class="gallery">
  <div class="gallery-block">
    <div class="block-label">Today</div>
    <div class="block-photos">
      <div class="photo" style="background-image: url('http://lorempixel.com/640/481')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/480')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/489')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/488')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/487')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/474')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/473')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/472')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/478')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/477')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
    </div>
  </div>
  <div class="gallery-block">
    <div class="block-label">Yesterday</div>
    <div class="block-photos">
      <div class="photo" style="background-image: url('http://lorempixel.com/640/481')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/480')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/489')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/488')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/487')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/474')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/473')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/472')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/478')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/477')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
    </div>
  </div>
  <div class="gallery-block">
    <div class="block-label">Last week</div>
    <div class="block-photos">
      <div class="photo" style="background-image: url('http://lorempixel.com/640/481')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/480')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/489')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/488')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/487')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/474')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/473')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/472')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/478')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/477')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/476')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/471')"></div>
      <div class="photo" style="background-image: url('http://lorempixel.com/640/475')"></div>
    </div>
  </div>
</div>

<div class="drop-prompt">
  Drop your photos here to upload...
</div>
