<header (filesToUploadSelected)="uploadFiles($event)" (startSlideshow)="startSlideshow()" (searchQueryUpdate)="runSearch($event)" [searchQuery]="searchQuery"></header>

<div class="tiles">
  <div class="tile" (click)="searchQuery = 'view:albums'; runSearch(searchQuery)"  [style.background-image]="this.sanitizer.bypassSecurityTrustStyle('linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(' + tileStyle[4] + '),url('+tileStyle[6]+'),url('+tileStyle[8]+'),url('+tileStyle[10]+'),linear-gradient(rgba(0,150,136,0.7), rgba(0, 150, 136, 0.7))')">
    Albums
  </div>
  <div class="tile" (click)="searchQuery = 'view:tags'; runSearch(searchQuery)" [style.background-image]="this.sanitizer.bypassSecurityTrustStyle('linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(' + tileStyle[5] + '),url('+tileStyle[7]+'),url('+tileStyle[9]+'),url('+tileStyle[11]+'),linear-gradient(rgba(0,150,136,0.7), rgba(0, 150, 136, 0.7))')">
    Tags
  </div>
  <div class="tile" (click)="searchQuery = 'view:locations'; runSearch(searchQuery)" [style.background-image]="this.sanitizer.bypassSecurityTrustStyle('linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(' + tileStyle[0] + '),url('+tileStyle[1]+'),url('+tileStyle[2]+'),url('+tileStyle[3]+'),linear-gradient(rgba(0,150,136,0.7), rgba(0, 150, 136, 0.7))')">
    Locations
  </div>
</div>

<div *ngIf="blocks === undefined" class="gallery">
  <div class="gallery-block">
    <!--<div class="block-label">Just now</div>-->
    <photo *ngFor="let photo of photosToDisplay" class="photo" [photo]="photo" (openImageModal)="openPhotoModal(photo)" ></photo>
  </div>
</div>
<div *ngIf="blocks" class="gallery">
  <div class="gallery-block" *ngFor="let block of objectKeys(blocks)">
    <div class="block-label">{{ block }}</div>
    <photo *ngFor="let photo of blocks[block]" class="photo" [photo]="photo" (openImageModal)="openPhotoModal(photo)" ></photo>
  </div>
</div>

<div *ngIf="photoDragInProgress" class="drop-prompt">
  Drop your photos here to upload...
</div>

<photo-modal *ngIf="showingPhotoModal" [photo]="selectedPhoto" (closeModal)="showingPhotoModal = false"></photo-modal>
<slideshow *ngIf="showingSlideshow" [photo]="photos[slideshowPhotoIndex]" (closeModal)="stopSlideshow()"></slideshow>
