<div class="photo-view">
  <img class="photo" [ngClass]="{'photo-v': photo.height > photo.width, 'photo-h': !(photo.height > photo.width)}" src="{{photo.data}}"  alt="photo"/>
</div>
<div class="side-menu">
  <input [(ngModel)]="photo.description" (ngModelChange)="this.photoChanged = true" placeholder="Description..." />
  <input [(ngModel)]="photo.location" (ngModelChange)="this.photoChanged=true" placeholder="Location..." />
  <span class="uploaded-on">Uploaded on {{ unixTimestampToStr(photo.uploaded_at) }}</span>
  <span class="section-name">tags:</span>
  <div class="tags">
    <div *ngFor="let tag of photo.tags" class="tag">{{ tag }} <span (click)="photo.removeTag(tag)" class="remove">x</span></div>
  </div>
  <input [(ngModel)]="newTagName" class="add-tag-input" placeholder="New tag name..." /><button (click)="photo.addTag(newTagName); newTagName = ''" class="add-tag-btn">Add</button>
  <button class="download-btn">Download</button>
</div>
