<div class="photo-view">
  <img class="photo" [ngClass]="{'photo-v': photo.height > photo.width, 'photo-h': !(photo.height > photo.width)}" src="{{photo.data}}"  alt="photo"/>
</div>
<div class="side-menu">
  <input placeholder="Description..." />
  <input placeholder="Location..." />
  <span class="uploaded-on">Uploaded on 2019-01-01 01:02:03</span>
  <span class="section-name">tags:</span>
  <div class="tags">
    <div class="tag">tag1 <span class="remove">x</span></div>
    <div class="tag">tag2 <span class="remove">x</span></div>
    <div class="tag">tag3 <span class="remove">x</span></div>
  </div>
  <input class="add-tag-input" placeholder="New tag name..." /><button class="add-tag-btn">Add</button>
  <button class="download-btn">Download</button>
</div>
