<!--suppress HtmlFormInputWithoutLabel -->
<input [(ngModel)]="searchQuery" (ngModelChange)="searchQueryUpdate.emit(searchQuery)" class="search" placeholder="Search anything..." />
<div [ngClass]="{'slide-from-top': showingNotif, 'slide-to-top': !showingNotif}" class="notif slide-from-top">{{ notifText }}</div>
<div class="right-nav">
  <button (click)="selectFilesForUpload()">Upload</button>
  <input #fileInput class="file-input" type="file" (change)="onFilesSelected($event)" multiple />
  <button>Create album</button>
  <button (click)="startSlideshow.emit()">Slideshow</button>
  <button (click)="auth.logout()">Logout</button>
</div>
