@import '../../variables';

:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 30px;
  height: 30px;
  font-size: 14pt;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  color: @text_primary_color;

  div {
    display: inline-block;
  }

  input {
    border: 0;
    height: 30px;
    font-size: inherit;
    font-family: inherit;
    margin: 8px 0;
    padding: 6px;
    outline: none;
    font-weight: inherit;
    background-color: @white_darker_background;
    width: 565px;
    color: @text_primary_color;
  }

  .notif {
    color: @primary_color;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    padding: 12px 0;
    user-select: none;
  }

  .slide-from-top {
    animation: slide-in 0.5s forwards;
  }

  .slide-to-top {
    animation: slide-out 0.5s forwards;
  }

  @keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
  }

  @keyframes slide-out {
    100% { transform: translateY(-100%); }
    0% { transform: translateY(0%); }
  }

  .right-nav {
    margin: 8px 12px;
    line-height: 30px;
    height: 30px;
  }

  button {
    font-size: inherit;
    border: 0;
    background-color: white;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
    line-height: 30px;
    padding: 6px 12px;
    vertical-align: middle;
    transition: all 0.4s ease-out;
    outline: none;
    margin: 0 8px;
    color: @text_primary_color;
  }

  button:hover {
    color: @primary_color;
    background-color: @white_darker_background;
  }
}

.file-input {
  display: none;
}
